/* Style created by finallight1 */
h2 {
    margin: auto;
}

div {
    margin-top: 2px;
    text-align: center;
}

#container {
    width: auto;
}

#header {
    background: #85D6E5;
    height: 150px;
}

#navigation {
    background: #afdeff;
    height: 40px;
}

#content {
    background: #85D6E5;
    float: left;
    width: 75%;
    height: 250px;
}

#sidebar {
    background: #9fd5fc;
    float: right;
    width: 25%;
    height: 250px;
}

#clear {
    clear: both;
}

#footer {
    margin-top: 4px;
    background: #75c9d8;
    height: 150px;
}